/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #4a4a4a;
  background-color: #fafbfc;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow-y: auto;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

.site-header {
  background-color: #9FCEFA;
  background-repeat: no-repeat;
  width: 100%;
  overflow: auto;
  border: 1px solid #e7e7e7;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header-logo {
  margin-left: 1%;
  float: left;
  display: inline-block;
  left: 0;
  max-width: 15%;
}
#logo {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}
.header-text {
  display: inline-block;
  width: 83%;
  margin-right: auto;
}
#site-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 9vw;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 84%;
  line-height: 100%;
}
.clear {
  font-size: 6em;
  clear: both;
}

.header-links {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
a.header-link{
  text-align: center;
  font-family: "Lato", "Hevletica", sans-serif;
  color: #4a4a4a;
  font-size: 1.5em;
}
a.header-link:hover {
  text-decoration: underline;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.75em;
}

#cover-photo-container,
#info-container {
  display: block;
  margin-bottom: 2em;
}

/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/

.resume {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5%;
  width: 75%;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.contact-header {
  text-align: center;
  line-height: 175%;
}

.section-header {
  font-family: 'Lato';
  color: #4a4a4a;
  margin-bottom: 1em;
  font-size: 1.618em;
  line-height: 110%;
  text-transform: uppercase;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

th {
  border-bottom: 1px solid black;
}

th, td {
  border-right: 1px solid black;
  padding: 0.75%;
}

a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-size: 16px;
  margin-bottom: 1.45em;
  text-align: justify;
}

ul, ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}
